<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".WalkMarkApp"
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action androidgname="android.intent.action.MAIN" />
                <category androidgname="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>